__/
_CPack_Packages/
_doxyfile
CMakeCache.txt
CMakeDoxyfile.in
CMakeFiles/
Makefile
SDK/
build/
docs/
install_manifest.txt
qrc_*.cpp
ui_*.h
xfstk-dldr-gui
xfstk-dldr-solo
*_autogen/
*.a
*.cmake
*.deb
*.so
*.tar.gz
